body,
html {
    line-height: 1;
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --font-color-gary: #757575;
    --star-color: #35c5f0;
}


li{
  list-style-type:none;
}

a {
  text-decoration: none;
  color: inherit;
}
