* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.yj-wrap {
  width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

.yj-header-upper {
  border-bottom: 1px solid #ededed;
  padding: 0 1rem;
  height: 80px;
}

.yj-header-upper-inner {
  max-width: 1136px;
  height: 100%;
  margin: 0 auto;
  align-content: center;
  align-content: center;
}

.yj-header-upper-left {
  float: left;
  align-content: center;
}

.yj-header-logo {
  float: left;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  order: 1;
}

.yj-header-logo a {
  text-decoration: none;
  text-decoration-line: none;
  font-size: 30px;
  color: black;
}

.yj-header-upper-left-list {
  display: flex;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 600;
  color: #424242;
  margin-top: 10px;
}

.yj-header-upper-left-list a {
  margin-right: 15px;
  margin-top: 5px;
  font-weight: 700;
}

.yj-header-upper-left-list a:hover {
  cursor: pointer;
  color: #35c5f0;
}

.yj-header-upper-right {
  float: right;
}

.yj-header-upper-service {
  display: flex;
  align-items: center;
}

.yj-header-upper-search {
  background-color: antiquewhite;
  position: relative;
  width: 270px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.yj-header-upper-search input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 14px;
}

.yj-header-upper-search input::placeholder {
  color: #bbb;
  font-weight: 200;
}

.yj-header-upper-search input:hover {
  background-color: #f7f9fa;
}

.yj-header-upper-search input:focus {
  border: 1px solid #37c5f0;
  outline: none;
}

.fa-magnifying-glass {
  position: absolute;
  color: #757575;
  padding-left: 10px;
}

.fa-cart-shopping {
  color: #424242;
}

.yj-header-service-child-1 {
  color: #424242;
  border-right: 1px solid #757575;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 300;
}

.yj-header-service-child-2 {
  color: #424242;
  font-weight: 300;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.yj-header-service-child-3 {
  color: #424242;
  border-left: 1px solid #757575;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.yj-header-upper-btn {
  border: none;
  background-color: #37c5f0;
  width: 100px;
  height: 40px;
  border-radius: 10%;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.yj-header-upper-btn::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f078';
  margin-left: 8px;
}

.yj-header-upper-btn:hover {
  filter: brightness(0.7);
}

/* 헤더 하단 부분---------------------------------------------------------------*/

.yj-header-lower {
  border-bottom: 1px solid #ededed;
  overflow-x: auto;
  overflow-y: hidden;
}

.yj-header-lower-item:hover {
  color: #35c5f0;
}

.yj-header-lower-item__active:hover {
  color: #35c5f0;
}

.yj-header-lower-inner {
  margin: 0 auto;
  height: 100%;
  padding-top: 10px;
  max-width: 1136px;
  height: 55px;
}

.yj-header-lower-contents-inner {
  display: flex;
}

.yj-header-lower-inner .yj-header-lower-contents-inner nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #424242;
}

.yj-header-lower-item {
  font-size: 15px;
  font-weight: 700;
  color: #424242;
  cursor: pointer;
  /* margin: 8px 0; */
  padding: 10px;
  margin-bottom: 4px;
  /* position: relative; */
  flex-shrink: 0;
  text-decoration-line: none;
}

.yj-header-lower-item__active {
  font-size: 15px;
  font-weight: 700;
  color: #35c5f0;
  cursor: pointer;
  /* margin: 8px 0; */
  padding: 13px 9px;
  /* position: relative; */
  flex-shrink: 0;
  text-decoration-line: none;
  border-bottom: 3px solid #35c5f0;
}

/* 홈페이지 상단 이미지------------------------------------------------------------------ */

.yj-home-main-img {
  max-width: 1136px;
  margin: 0 auto;
}

.yj-home-main-upper {
  display: flex;
  padding-top: 20px;
}

.yj-home-header-left {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 828px;
  height: 552px;
  border-radius: 1%;
}

.yj-home-header-left img:hover {
  transform: scale(105%);
}

.yj-home-header-left:hover .yj-home-header-tit a {
  background: #35c5f0;
  border: none;
}

.yj-home-header-left img {
  width: 100%;
  transition: 0.3s;
  vertical-align: bottom;
  object-fit: cover;
}

.yj-home-header-left .yj-img-1 {
  width: 100%;
  height: 100%;
}

.yj-home-header-right {
  float: right;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 291px;
  height: 552px;
  border-radius: 1.7%;
  margin-left: 18px;
  background-color: #757575;
}

.yj-home-header-right .yj-img-2 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  object-fit: cover;
}

.yj-home-header-right .yj-img-2:hover {
  transform: scale(108%);
}

.yj-home-header-tit {
  position: absolute;
  top: 90%;
  left: 0;
  transform: translateY(-50%);
  padding: 25px;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.yj-home-header-tit h4 {
  font-size: 30px;
  padding: 1rem 0;
  margin-right: auto;
}

.yj-home-header-tit a {
  display: inline-block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 100p;
  font-weight: 600;
  text-decoration-line: none;
  text-decoration: none;
  color: #fff;
}

.yj-home-main-list {
  max-width: 1136px;
  margin: 0 auto;
}

.yj-home-main-list-inner {
  max-width: 1136px;
  margin: 0 auto;
  margin-top: 30px;
}
.yj-shortcut-list {
  display: flex;
  flex: 0 0 12.5%;
}

.yj-shortcut-list li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

.yj-shortcut-list li a {
  color: black;
  text-decoration-line: none;
  text-decoration: none;
}

.yj-shortcut-list li a h4 {
  text-align: center;
  text-decoration-line: none;
}

.yj-shortcut-img {
  width: 140px;
  text-align: center;
  padding-bottom: 10px;
}
